*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Node dependencies
node_modules/*

# Gitbook folder
**/_book/*
relatorio_importacao.txt
.gradle
cartas-de-servico.iml
cartas-de-servico.ipr
cartas-de-servico.iws
